* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: linear-gradient(#fff, #f0f0f0);
  background-size: cover;
  background-attachment: fixed;
  margin: unset;
}

section#overlay {
  z-index: 40;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.75);
}
section#overlay form {
  padding: 2em;
  background-color: #fff;
  width: 60%;
  flex-direction: column;
  display: flex;
  gap: 1em;
}
@media only screen and (min-width: 1440px) {
  section#overlay form {
    width: 30%;
  }
}
section#overlay form input, section#overlay form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  font-size: 1em;
  padding: 0.625em 1em;
  border: 0;
  border-radius: 0.25em;
  text-overflow: ellipsis;
  color: #666;
  background: #f0f0f0;
}
section#overlay form input:focus, section#overlay form select:focus {
  outline: none;
}
section#overlay form .row {
  display: flex;
  justify-content: space-between;
}
section#overlay form .row button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 500rem;
  border: 1px solid #ccc;
  color: #999;
  background-color: #fff;
}

header {
  width: 739px;
  margin: auto;
  padding: 3em 0;
}
@media only screen and (min-width: 1440px) {
  header {
    width: 1253px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: #222;
  font-size: 1.125em;
}
header nav select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25em;
  font-size: 1.125em;
  border: 0;
  padding-bottom: 0.125em;
  border-bottom: 1px solid #999;
  text-overflow: ellipsis;
  color: #222;
}
header nav select:focus {
  outline: none;
}

main {
  padding-bottom: 3em;
}

section#forms .container {
  width: 739px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 1440px) {
  section#forms .container {
    width: 1253px;
  }
}
section#forms .container form {
  width: 50%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
section#forms .container form input, section#forms .container form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  font-size: 1em;
  padding: 0.625em 1em;
  border: 0;
  border-radius: 0.25em;
  text-overflow: ellipsis;
  color: #666;
  background: #f0f0f0;
}
section#forms .container form input:focus, section#forms .container form select:focus {
  outline: none;
}
section#forms .container form button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 500rem;
  border: 1px solid #ccc;
  color: #999;
  background-color: #fff;
}

section#collection {
  margin: 3em auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 739px;
  gap: 2em;
}
@media only screen and (min-width: 1440px) {
  section#collection {
    width: 1253px;
  }
}

section#actions {
  margin: 3em auto;
  width: 739px;
  display: flex;
  gap: 2em;
  justify-content: flex-end;
}
@media only screen and (min-width: 1440px) {
  section#actions {
    width: 1253px;
  }
}
section#actions input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  font-size: 1em;
  padding: 0.625em 1em;
  border: 0;
  border-radius: 0.25em;
  text-overflow: ellipsis;
  color: #666;
  background: #f0f0f0;
}
section#actions input:focus {
  outline: none;
}
section#actions div {
  display: flex;
  flex-direction: column;
}
section#actions div label {
  font-size: 1em;
  color: #222;
  font-variant: small-caps;
}
section#actions div select {
  width: 8em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  font-size: 1.125em;
  border: 0;
  text-align: end;
  padding-bottom: 0.125em;
  border-bottom: 1px solid #999;
  text-overflow: ellipsis;
  color: #222;
}
section#actions div select:focus {
  outline: none;
}

.card {
  position: relative;
  border-radius: 0.375em;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1450980392);
}
.card img {
  display: block;
  border-radius: inherit;
}
.card img[data-love="0"] {
  filter: grayscale(1);
}
.card .overlay {
  position: absolute;
  z-index: 10;
  height: 350px;
  width: 225px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
  background: linear-gradient(transparent, #343A52);
  color: white;
  gap: 0.125em;
  border-radius: 0.375em;
}
.card .overlay .head {
  display: flex;
  justify-content: space-between;
}
.card .overlay .head button {
  font-family: "Font Awesome 6 Pro";
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 500rem;
  font-size: 1.125em;
  cursor: pointer;
  color: #ff63a9;
  border: 0;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1450980392);
}
.card .overlay .head button:hover {
  color: white;
  background: #ff63a9;
}
.card .overlay .body h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}
.card .overlay .body a {
  margin: 0;
  font-size: 0.725rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.card .overlay .body a:hover {
  text-decoration: underline;
}
.card:hover .overlay {
  display: flex;
}/*# sourceMappingURL=style.css.map */